<script>

    //    .createdCallback() Called after the element is created.
    //    .attachedCallback() Called when the element is attached to the document
    //    .detachedCallback() Called when the element is detached from the document.
    //    .attributeChangedCallback() Called when one of attributes of the element is changed.

    var proto = Object.create(HTMLElement.prototype);

    proto.createdCallback = function() {
        // Adding a Shadow DOM
        var root = this.createShadowRoot();
        // Adding a template
        var template = document.querySelector('#template');
        var clone = document.importNode(template.content, true);
        root.appendChild(clone);
    }



//    proto._txt = "";
//    proto.attributeChangedCallback = function(attrName, oldVal, newVal) {
//        var element = this;
//    }




    window.document.registerElement('x-note', {
        prototype: proto
    });


    //var XNote = document.registerElement('x-note');
    //var dom = new XComponent();



</script>

<template id="template">
    <style>

    </style>
    <div id="container">
        asdf
        <content select="h1"></content>
    </div>
</template>