<div class="topcoat-tab-bar full">
    <label class="topcoat-tab-bar__item">
        <button class="topcoat-tab-bar__button full" [router-link]="['/channelList']">Channels</button>
    </label>
    <label class="topcoat-tab-bar__item">
        <button class="topcoat-tab-bar__button full" [router-link]="['/allfeed']">All Feed</button>
    </label>
    <label class="topcoat-tab-bar__item">
        <button class="topcoat-tab-bar__button full" [router-link]="['/add']">Add Channel</button>
    </label>
</div>