<div class="tasks">
    <div class="tasks__header">
        <h3>tasks</h3>
        <div class="tasks-menu">
            <ul>
                <li class="tasks-menu__item tasks-menu__type_index" data-destination="view.tasks.index">
                    Index
                </li>
                <li class="tasks-menu__item tasks-menu__type_new" data-destination="view.tasks.new">
                    New
                </li>
                <li class="tasks-menu__item" data-destination="view.tasks.show">
                    Show
                </li>
            </ul>
        </div>
    </div>
    <div class="tasks__content" id="tasks__content">

    </div>
</div>
