#error {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#error-container {
    position: absolute;
    left: 26px;
    right: 26px;
    top: 0px;
    bottom: 0px;
}

#error-message-container {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 54px;
    height: 22px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#error-message {
    position: relative;
    font-family: Segoe WP Semibold;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    white-space: normal;
    width: 90%;
    line-height: 22px;
}

#error-buttons {
    position: absolute;
    height: 48px;
    top: 150px;
    left: 0px;
    right: 0px;
}

#error-buttons-ok {
    width: 48px;
    height: 48px;
    /*outline: blue 1px solid;*/
    float: left;
    background-size: cover !important;
    margin-left: calc(50% - 24px);
}

#error-buttons-ok {
    background: url(../img/wvga/popup_btn_ok_enabled.png)
}
#error-buttons-ok:active {
    background: url(../img/wvga/popup_btn_ok_pressed.png)
}
